<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add 
			connectionString="Data Source=CHINTAN-PC\SQLEXPRESS;Initial Catalog=ValetService;Integrated Security=True"
			name="connString"
			providerName="System.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>